body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    text-align: center;
}

.card {
    width: 100px;
    height: 100px;
    outline: 2px solid black;
}