body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

h4 {
    border-bottom: 2px solid black;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(2, 60vw);
    gap: 10vw;
    text-align: center;
    justify-content: center;
}

.card {
    width: 40vw;
    height: 60vw;
    outline: 2px solid black;
    border-radius: 10px;
}